<mat-toolbar color="primary">
  <div>
    <h2 [routerLink]="['/list']">My Goods</h2>
  </div>
   <div>
    <span class="toolbar-item">|</span>
    <a mat-button class="toolbar-item" routerLink="/list">List of Goods</a>
    <a mat-button class="toolbar-item" routerLink="/tic-tac-toe">Tic Tac Toe</a>
  </div>
  <span class="toolbar-space"></span>
  <div>
    <a mat-button class="toolbar-item" target="_blank" href="https://github.com/vkotelnikov/my-goods">
      <img class="logo" src="../assets/resources/img/github-mark.png"/>
      <span>vkotelnikov/my-goods</span>
    </a>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side"></mat-drawer>
  <mat-drawer-content class="app-container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>