.toolbar-space {
    flex: 1 1 auto;
}

.toolbar-item {
    padding: 0 14px;
    margin-right: 8px;
}

mat-drawer-container {
    height: 100%;
}

.app-container {
    margin: 0 auto;
    padding: 10px;
}

.logo {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}