<mat-toolbar color="primary">
  <div>
    <h2 [routerLink]="['/list']">My Goods</h2>
  </div>
  <!-- <div *ngIf="authenticated()">
    <span class="toolbar-item">|</span>
    <a mat-button  class="toolbar-item" routerLink="/list">List</a>
    <a mat-button class="toolbar-item" routerLink="/new-item">New item</a>
    <a mat-button class="toolbar-item" (click)="logout()">Logout</a>
  </div>
  <div *ngIf="!authenticated()">
    <a mat-button class="toolbar-item" routerLink="/register">Register</a>
    <a mat-button class="toolbar-item" routerLink="/login">Login</a>
  </div> -->
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side"></mat-drawer>
  <mat-drawer-content class="app-container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>