h1 {
  text-align: start;
}

.play-field td {
  width: 100px;
  height: 100px;
  text-align: center;
}

.play-field table {
  margin: 5px auto;
}

.play-field .vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.play-field .hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.info{
  vertical-align: top;
}