<table>
  <tr>
    <td class="info">
      <h1>Tic Tac Toe</h1>
      <p>Turn of player {{whoseTurn()}}</p>
      <mat-slide-toggle [checked]="aiOn" [(ngModel)]="aiOn" (change)="aiStateChanged()" color="primary">Enable AI
      </mat-slide-toggle>
    </td>
    <td>
      <table class="play-field">
        <tr *ngFor="let rowItem of field; let row = index; let oddRow = odd">
          <td [attr.row]="row" 
              [attr.col]="col" 
              [ngClass]="{vert: oddCol, hori: oddRow}"
              (click)="process($event)" 
              *ngFor="let colItem of field[row]; let col = index; let oddCol = odd">
              {{field[row][col]}}
          </td>
        </tr>
      </table>
    </td>
    <td class="info">
      <app-scoreboard [log]="gameLogger.getLog()"></app-scoreboard>
    </td>
  </tr>